@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

button,
nav,
.bottom-nav {
  user-select: none;
  -webkit-user-select: none;
}
